.scoreboard{
    display: flex;
    flex-direction: column;
    width: 30vh;
    border-width: 0.8vh;
    border-style: solid;
    border-radius: 5px;
    border-color:   rgb(41, 19, 7);
    background-color:rgb(139, 92, 61);
}
.scoreboard header{
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    color: rgb(41, 19, 7);
    text-decoration: none;
    text-transform: uppercase;
    margin: 1vh;
    border-width: 0.4vh;
    border-style: solid;
    border-radius: 5px;
    border-color:  rgb(41, 19, 7);
    background-color: rgb(255, 235, 211);
    font-family: Futura;
    font-size: 2.7vh;
    letter-spacing: 2px;
}
.scores{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1vh;
    border-width: 0.4vh;
    border-style: solid;
    border-radius: 5px;
    border-color:   rgb(41, 19, 7);
    background-color:  rgb(233, 174, 115);
    font-family: Futura;
    font-size: 3vh;
}
.scores header{
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color:  rgb(255, 235, 211);
    border-color:   black;
    justify-content: center;
    margin-bottom: 0;
}
.pieces{
    justify-content: center;
}
.pieces i{
    margin: 0.3vh;
}
.scores header p{
    margin: 1vh;
}
#white-pieces{
    color: rgb(41, 19, 7);
    margin: 1vh;
}
#black-pieces{
    color: rgb(255, 235, 211);
    margin: 1vh;
}
#my-logo{
    height: 100%;
}
#my-logo img{
    height: 100%;
    width: 100%;
}